body {
    background-color: #f8f9fadd;
}

h2 {
    font-weight: bold;
}

.table thead th {
    text-align: center;
    position: sticky;
    top: 0;
    background: #def0e6c4;
    color: rgb(108, 106, 106);
    z-index: 10;
}

.table tbody td {
    text-align: center;
    vertical-align: middle;
}

.table tbody td[contenteditable="true"] {
    background-color: #e9ecef;
    cursor: pointer;
}

p {
    margin: 0;
    font-size: 1.1rem;
}

.invalid-feedback {
    display: none; 
    color: #dc3545; 
    font-size: 0.875em; 
    margin-top: 0.25rem; 
}

.not-invalid {
    border-color: #dc3545 !important;
}

.not-invalid:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important; 
}

.not-invalid + .invalid-feedback {
    display: block; 
}

.summary {
    /* background-color: #f8f9fa; */
    border-radius: 8px;
}

.summary h6 {
    color: #333;
    font-weight: bold;
    margin-bottom: 1rem;
}

.summary p {
    margin-bottom: 0.5rem;
}

/* Configuration Section */
.configuration-summary ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0.5rem;
}

.configuration-summary ul li {
    margin-bottom: 0.25rem;
}

/* Dynamic Visibility */
.motivation,
.salary {
    display: block; /* Default visibility */
}

.motivation.hidden,
.salary.hidden {
    display: none; /* Hide elements */
}